<div class="container py-4">
    <a [routerLink]="'/'">Back</a>
    <h2 class="mb-4">
        Products
    </h2>

    @if (products) {
        <div class="row">
            <div class="col d-flex flex-wrap gap-4">
                @for (product of products; track product.id) {
                    <div class="card" style="width: 18rem;">
                        <img src="{{product.thumbnail}}" class="card-img-top" alt="{{product.title}}" />
                        <div class="card-body">
                            <a [routerLink]="product.id + ''" class="card-title">{{product.title}}</a>
                            <p class="card-text">{{product.description}}</p>
                            <a [routerLink]="product.id + ''" class="btn btn-primary">{{product.price}}</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>